html{
	margin:0;
	padding: 0;
    box-sizing: border-box;
}

body{
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*,*::before, *::after{
    box-sizing: inherit;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    font-size: 64px;
    color: #1F3F68;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input, textarea{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

#submit_button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#logo{
    width: 60px;
}

#cat{
    width: 600px;
}

#header{
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_link {
    text-transform: capitalize;
    text-decoration: none;
    font-weight:400;
    font-size: 30px;
    border-radius: 20px;
    color: #401acae7;
}

.nav_link:hover {color: #ac83ec;}

@media (max-width: 700px) {
    p {
        font-size: 14px;
        line-height: 20px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 16px;
        line-height: 20px;
    }
    
    #logo{
        width: 40px;
    }

    .nav_link {
        font-size: 20px;
    }

    #cat{
        width: 400px;
    }

    #map{
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 450px) {
    p {
        font-size: 10px;
        line-height: 15px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 14px;
        line-height: 15px;
    }
    
    #logo{
        width: 20px;
    }

    .nav_link {
        font-size: 15px;
    }

    #cat{
        width: 250px;
    }

    #map{
        width: 250px;
        height: 200px;
    }
}